@model IEnumerable<MyPortfolio.ViewModels.ExperienceViewModel.IndexExperienceViewModel>

    <style>
        html, body, h1, h2, h3, h4, h5, h6 {
            font-family: "Roboto", sans-serif
        }
    </style>

    <body>
            <div class="w3-container w3-card w3-white w3-margin-bottom">
                <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Professional <b>Experience</b></h2>
                <div class="w3-container">
                    @foreach (var experience in Model)
                    {
                        <h5 class="w3-opacity"><b>@experience.Name</b></h5>
                        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>@experience.Start.Date - <span class="w3-tag w3-teal w3-round">@experience.End.Date</span></h6>
                        <p>@experience.Description</p>
                        <p><b>Responsibilities:</b> @experience.Responsibilities</p><br />

                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-route-id="@experience.Id" asp-controller="Experience" asp-action="Edit" class="btn btn-outline-dark"><b>Edit</b></a>
                            <a asp-route-id="@experience.Id" asp-controller="Experience" asp-action="Remove" class="btn btn-outline-dark"><b>Remove</b></a>
                        }
                        <hr>
                    }
                </div>
            </div>
    </body>